html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#loginContainer * {
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}


/* place-holder setting */

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.hasAccountText span {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.hasAccountText {
    text-align: center;
    color: #666666;
    margin: 10px 0;
}

#registerForm,
#loginForm {
    display: none;
}

.errorMessage {
    color: rgb(126, 110, 239);
    font-size: 13px;
    display: block;
    padding-left: 8px;
}

#registerForm .input100 {
    height: 30px;
    font-size: 14px;
}

#registerForm .login100-form-btn {
    height: 40px;
}

.logo-login {
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    background-size: contain;
    font-size: 0;
    flex-shrink: 0;
    z-index: 2;
}

.login_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}